---
title: Decidim Admin
activesection: processes
activepage: process-components
activesubpage: component-meetings
---

<%= partial 'partials/template_top' %>
<div class="layout-nav">
  <%= partial 'partials/process_sub_nav' %>
</div>
<div class="layout-content">
  <div class="container">
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Encuentros <a href="#" class="button tiny button--title">Añadir</a></h2>
      </div>
      <div class="card-section">
        <div class="table-scroll">
          <table class="table-list">
            <thead>
              <tr>
                <th width="80">Publicado</th>
                <th>Título</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="switch tiny" aria-label="Publicado">
                      <label>
                        <input class="switch-input" type="checkbox" checked>
                        <span class="switch-paddle"></span>
                      </label>
                    </div>
                </td>
                <td>
                  Página de info
                </td>
                <td class="table-list__actions">
                  <a href="#"  data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Editar" class="action-icon"><%= icon "pencil" %></a>
                  <a href="#"  data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Ver" class="action-icon"><%= icon "eye" %></a>
                  <a href="#" data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Eliminar" class="action-icon action-icon--remove"><%= icon "circle-x" %></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial 'partials/template_bottom' %>
