---
title: Decidim Admin
activesection: pages
---

<%= partial 'partials/template_top' %>
<div class="layout-nav">
  <%= partial 'partials/pages_nav' %>
</div>
<div class="layout-content">
  <div class="container">
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Páginas</h2>
      </div>
      <div class="card-section">
        <table class="table-list">
          <thead>
            <tr>
              <th>Título</th>
              <th class="table-list__actions">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Información del proceso
              </td>
              <td class="table-list__actions">
                <a href="#" class="action-icon"><%= icon "pencil" %></a>
                <a href="#" class="action-icon"><%= icon "eye" %></a>
                <a href="#" class="action-icon"><%= icon "circle-x" %></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= partial 'partials/template_bottom' %>
