---
title: Decidim Admin
activesection: processes
---

<%= partial 'partials/template_top' %>
<div class="layout-nav">
  <%= partial 'partials/process_nav' %>
</div>
<div class="layout-content">
  <div class="container">
    <div class="card">
      <div class="card-divider">
        <h2 class="card-title">Procesos participativos <a href="#" class="button tiny button--title">Añadir</a></h2>
      </div>
      <div class="card-section">
        <div class="table-scroll">
          <table class="table-list">
            <thead>
              <tr>
                <th>Título</th>
                <th class="table-list__actions">Estado</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="/process-info">
                    Proposa, prioritza i decideix sobre el pressupost del districte de l’Eixample
                  </a>
                </td>
                <td class="table-list__state"><span  data-tooltip class="icon-state icon-highlight" aria-haspopup="true"  data-disable-hover="false" title="Destacado"><%= icon "star" %></span></td>
                <td class="table-list__actions">
                  <a href="#" class="action-icon" data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Editar"><%= icon "pencil" %></a>
                  <a href="#" class="action-icon" data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Previsualizar"><%= icon "eye" %></a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="/process-info">
                    Proposa, prioritza i decideix sobre el pressupost del districte de l’Eixample
                  </a>
                </td>
                <td class="table-list__state"><span  data-tooltip class="icon-state icon-unpublished" aria-haspopup="true"  data-disable-hover="false" title="Sin publicar"><%= icon "x" %></span></td>
                <td class="table-list__actions">
                  <a href="#" class="action-icon" data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Editar"><%= icon "pencil" %></a>
                  <a href="#" class="action-icon" data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Previsualizar"><%= icon "eye" %></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial 'partials/template_bottom' %>
